@if (Open)
{
<div class="modal-backdrop" @onclick="@OnClose">
    <div @onclick:stopPropagation>@ChildContent</div>
</div>
}

@code {
    [Parameter]
    public bool Open { get; set; }
    [Parameter]
    public EventCallback OnClose { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}

