<div>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center" class="valueSetting">
        <h2 style="font-size: 20px;">Motion event</h2>
        <button @onclick="() => Click()">Send motion</button>
    </div>
</div>

@code {
    [Parameter] public IJSObjectReference? Controller { get; set; }

    private async Task Click()
    {
        if (Controller != null)
        {
            await Controller.InvokeVoidAsync("setIsMotionDetected", 0);
            await Controller.InvokeVoidAsync("setIsMotionDetected", 1);
        }
    }

}