.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 50px auto;
}

.page-content {
    grid-row: 2;
}
.sidebar,
.sidebar-right {
    height: 95%;
    background-color: lightgray !important;
    transition: left .3s, right .3s;
    padding: 10px;
    position: absolute;
}

.sidebar-right {
    right: 0;
}

.main-canvas {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #949494;
    color: black;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0 20px;
    grid-row: 1;
}

.center-toolbar {
    display: flex;
    align-items: center;
}

.toolbar-button {
    background-color: #989494;
    color: black !important;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

.toolbar-button img {
    margin-right: 10px;
}

.expand-button {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 50%;
    width: 60px;
    height: 30px;
    background-color: dodgerblue;
    transform: rotate(90deg);
    border-radius: 50rem 50rem 0 0;
    color: white;
    z-index: 10;
}

.expand-button-left {
    left: 0;
    transform: translateX(-15px) rotate(90deg);
}

.expand-button-right {
    right: 0;
    transform: translateX(15px) rotate(-90deg);
}

.expand-button span {
    color: white;
    position: absolute;
    top: 60%;
    transform: translate(0, -50%);
}

.expand-button-left span {
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.expand-button-right span {
    right: 50%;
    transform: translate(50%, -50%) rotate(90deg);
}

.adarc-text {
    margin-right: auto;
    font-size: 24px;
    translate: 10px;
}

.logo {
    height: 35px;
    width: 35px;
}

div, span {
    user-select: none;
}
