.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}

.page-content {
    margin-top: 50px;
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
}
.sidebar,
.sidebar-right {
    /*height of the top bar*/
    height: calc(100vh - 3.125rem);
    background-color: lightgray !important;
    transition: left .3s, right .3s;
    padding: 10px 10px 0;
    position: absolute;
}

.sidebar-right {
    right: 0;
}

.main-canvas {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #949494;
    color: black;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.center-toolbar {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
}

.toolbar-button {
    background-color: #989494;
    color: black !important;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0 5px;
    height: auto;
    overflow-wrap: unset;
    min-width: 20px
}

.button-text {
    margin-left: 5px;
}

.button-icon {
    display: inline-block;
}

/* Large screens - show everything */
@media (min-width: 1400px) {
    .toolbar-button {
        padding: 5px 10px;
        margin: 0 5px;
    }
    
    .button-text {
        margin-left: 3px;
        font-size: 18px;
    }
}

/* Medium-large screens - reduce padding and reduce font size */
@media (max-width: 1399px) and (min-width: 1200px) {
    .toolbar-button {
        padding: 8px 12px;
        margin: 0 4px;
    }
    .button-text {
        margin-left: 3px;
        font-size: 16px;
    }
}

/* Small screens - reduce padding and reduce font size */
@media (max-width: 1199px) and (min-width: 1000px) {
    .toolbar-button {
        padding: 6px 8px;
        margin: 0 2px;
    }
    
    .button-text {
        font-size: 12px;
        margin: 2px;
    }
}

/* Extra small screens - hide text */
@media (max-width: 999px) {
    .toolbar-button.hide-text-sm .button-text {
        display: none;
    }
}

.toolbar-button:disabled {
    opacity: 0.25;
    cursor: not-allowed;
    pointer-events: none;
}

.toolbar-button img {
    margin-right: 10px;
}

.expand-button {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 50%;
    width: 60px;
    height: 30px;
    background-color: dodgerblue;
    transform: rotate(90deg);
    border-radius: 50rem 50rem 0 0;
    color: white;
    z-index: 10;
}

.expand-button-left {
    left: 0;
    transform: translateX(-15px) rotate(90deg);
}

.expand-button-right {
    right: 0;
    transform: translateX(15px) rotate(-90deg);
}

.expand-button span {
    color: white;
    position: absolute;
    top: 60%;
    transform: translate(0, -50%);
}

.expand-button-left span {
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.expand-button-right span {
    right: 50%;
    transform: translate(50%, -50%) rotate(90deg);
}

.logo-and-adarc {
    flex-wrap: nowrap;
    display: flex;
}

.adarc-text {
    font-size: 24px;
    margin: 0 15px;
    position: relative;
    overflow: hidden;
}

.logo {
    max-height: 35px;
    max-width: 35px;
    overflow: hidden;
    margin-right: 10px;

}

div, span {
    user-select: none;
}

.zoom-bar-container {
    display: flex;
    align-items: center;
    width: fit-content;
}

.zoom-bar {
    min-width: 150px;
    width: auto;
    height: 10px;
    background-color: #ddd;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 10px;
}

.zoom-bar-handle {
    width: 30px;
    height: 100%;
    cursor: grab;
    border-radius: 5px;
    font-size: 16px;
    color: black;
}

.zoom-button {
    background-color: #989494;
    color: black !important;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}


.progress-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #f1f1f1;
    z-index: 9999;

}

.progress-bar {
    height: 100%;
    background-color: dodgerblue;
    z-index: 10000;
}

.toolbar-button {
    flex-direction: row;

}

.rotate180 {
    transform: rotate(180deg);
}

.zoom-tooltip {
    position: absolute;
    z-index: 999999;
    border-radius: 5px 5px 5px 5px;
    padding-left: 6px;
    padding-right: 3px;
    left: 37%;
    top: 55px;
    font-size: 14px;
}

.zoom-tooltip button {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    border-color: transparent;
    transform: scale(80%);
    padding-left: 1px;
    padding-right: 1px;
    width: 60px;
}

.right-click-tooltip {
    position: fixed;
    z-index: 1;
    border-radius: 5px 5px 5px 5px;
    padding-left: 6px;
    padding-right: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    flex-wrap: wrap;
    justify-content: center;
    width: 550px;
    align-items: center;
    text-align: center;
}

.right-click-tooltip button {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    border-color: transparent;
    transform: scale(80%);
    padding-left: 1px;
    padding-right: 1px;
    align-self: center;
    width: 80px;
}

/* hides X-axis scrollbar in toolbar, but it is still scrollable */
.toolbar::-webkit-scrollbar {
    display: none;
}

.tooltip-icon-for-zoom {
    width: 5%;
    height: 5%;
}


.workbench-title {
    position: fixed;
    z-index: 1;
    padding-left: 6px;
    padding-right: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

.Import-Export {
    display: flex;

}

/* Modal Backdrop */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
}

/* Modal Content */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    position: relative;
}

/* URL Modal Specific Styles */
.url-modal {
    position: fixed;
    top: 10%; /* Adjust this value to position the modal vertically */
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1001;
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: space-between; /* Space between input and button */
    align-items: center; /* Vertically center items */
    gap: 10px; /* Add spacing between input and button */
}

.url-textbox {
    flex: 1; /* Allow the input to take up remaining space */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.copy-button {
    height: auto !important;
    margin: 0 !important;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    background-color: #f0f0f0; /* Light grey background */
    border: 1px solid #d0d0d0; /* Slightly darker grey border */
    border-radius: 4px; /* Rounded corners */
    transition: all 0.2s ease; /* Smooth transition for hover */
    cursor: pointer;
}

.copy-button:hover {
    background-color: #e0e0e0; /* Darker grey on hover */
}

.copy-button:active {
    background-color: #d0d0d0; /* Even darker when clicked */
    transform: scale(0.98); /* Slight scale effect when clicked */
}

/* Report Bug Modal Styles */
.report-bug-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.report-bug-modal p {
    margin-bottom: 20px;
    font-size: 16px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.no-button, .yes-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.no-button {
    background-color: #ff4d4d; /* Red */
    color: white;
}

.no-button:hover {
    background-color: #e60000; /* Darker red */
}

.yes-button {
    background-color: #4CAF50; /* Green */
    color: white;
}

.yes-button:hover {
    background-color: #45a049; /* Darker green */
}