
<div class="code-container">


<!-- Include Monaco Editor styles -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.44.0/min/vs/editor/editor.main.min.css">

<!-- Create a container for the Monaco Editor -->
<div id="monaco-editor-container" style="height:650px; width: 100%; border: 1px solid #ccc;"></div>

<!-- Create a container for the console output -->
<div id="console-container" style="flex: 1; border: 1px solid #ccc; padding: 10px; background-color: #f4f4f4; overflow-y: scroll; user-select:text">
        @foreach(string line in text)
        {
            @line;
            <hr>
        }
</div>

<!-- Include Monaco Editor scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.44.0/min/vs/loader.min.js"></script>
<script>
    require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.44.0/min/vs' }});
    require(['vs/editor/editor.main'], function() {
        var editor = monaco.editor.create(document.getElementById('monaco-editor-container'), {
            value: [
                'void setup() {',
                '// put your setup code here, to run once:',
                ,
                '}',
                ,
                'void loop() {',
                '// put your main code here, to run repeatedly:',
                ,
                '}'
            ].join('\n'),
            minimap: {enabled: "false"},
            language: 'cpp'
        });
        
    });
</script>

</div>

@code {

    public CodePane()
    {
        Pages.Index.codePane = this;
    }

    List<string> text = new() { "Welcome to the App!"};

    string codeContents = "";
    // Create a function to update the console output
    public void updateConsoleOutput(string text)
    {
        this.text.Add(text);
        StateHasChanged();
    }

    public void updatePaneCode()
    {
        this.codeContents = BuildCode.code;    
    }


  
}
