.code-container {
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: 100%;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    overflow: hidden; 
}

.code-container > span {
    font-size: 20px;
    color: black;
    text-align: center;
    padding-bottom: 10px;
    flex-shrink: 0; 
}

.code-tooltip {
    background-color: #ece1be;
    border-radius: 5px;
    font-size: 0.844rem;
    padding: 10px;
    margin-bottom: 10px;
    flex-shrink: 1; 
    overflow-y: auto;
    text-align: center;
}

.code-tooltip >button{
    border-radius: 5px;
    border-color: transparent;
}

#editor-wrapper {
    flex: 3; 
    overflow-y: hidden;
}

#console-container {
    flex: 1.5; 
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    padding: 10px;
    overflow-y: auto; 
    user-select: text;
    white-space: pre;
    box-sizing: border-box;
}

#button-row {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    flex-shrink: 0; 
}

#button-row button {
    height: 1.5rem;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
}

.error {
    color: orangered;
}

.auto {
    color: inherit;
}

hr {
    margin: 5px 0;
}