.card-container {
    background-color: white;
    border-radius: 4.5px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1%;
    aspect-ratio: 4/5;
    position: relative;
    overflow: visible;
}

.card-img-container {
    width: 75%;
    height: 65%;
    background-color: lightgray;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .card-img-container svg {
        width: 100%;
        height: 100%;
    }


.card-name {
    text-align: center;
    overflow-wrap: anywhere;
    color: black;
    padding: 1%;
    line-height: 1.1;
    height: fit-content;
}


.altContainer {
    visibility: hidden;
    height: 100%;
    width: 100%;
    background-color: lightblue;
    opacity: 45%;
    position: absolute;
}


.card-container:hover > .altContainer {
    visibility: visible;
}

.palette-right-click-container {
    z-index: 9999999999999;
    font-size: 65%;
    margin-top: 16%;
    opacity: 100%;
    display: flex;
    background-color: lightgray;
    flex-direction: column;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    position: fixed;
    border-color: gray;
    border-style: solid;
    min-width: 95%;
    text-wrap: none;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.palette-right-click-container button {
    background-color: transparent;
    border-color: transparent;
    padding: 5%;
    color: black;
    text-align: left;
    width: auto;
    white-space: normal;
    max-width: 100%;
    min-width: min-content;
    text-wrap: avoid;
}

.palette-right-click-container button:not(:last-child) {
    border-bottom: 1px solid rgba(145, 145, 145, 0.3);
}

.RazorStrainGauge-indicator {
    pointer-events: none; /* So it doesn't interfere with clicking */
}