.comp-container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    background-color: lightgray;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 3%;
}


.indent {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.card-wrapper {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

.directory-button {
    /*margin-top: 1%;*/
    border: none;
    display: flex;
    align-items: center;
}

.directory-button svg {
    margin-right: 3%;
}

/*.directory-button span {
    margin-right: 0;
}*/

.level-1 {
    background-color: #56baf0;
    border-radius: 4px;
    margin-bottom: 3.5px;
}

.level-2 {
    background-color: #7ecdf5;
    border-radius: 4px;
    margin-bottom: 3.5px;
}

.level-3 {
    background-color: #94dbf5;
    border-radius: 4px;
    margin-bottom: 3.5px;
}

.col-layout {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    justify-items: center;
    margin-top: 1%;
}


.icon {
}