<div class="card-container" @onmousedown="handleClick">
	<div class="card-img-container">
		<VaryingComponent disableBorder="true" posAbolute="false" individualData="new(globalId, ComponentDeclarations.components[globalId].defaultVal, new(), 0, 0)" objId="@globalId" zoomFactor="@(ComponentDeclarations.components[globalId].cardScaleFactor * ADArCWebApp.Pages.Index.currentRatio)" DragStart="()=>{}" DragProgress="()=>{}" DragEnd="()=>{}"></VaryingComponent>
	</div>
	<div class="altContainer">
		@ComponentDeclarations.components[globalId].paneHoverText
	</div>
	<div class="card-name">
		@name
	</div>
</div>

@code {

	//int id;
	[Parameter]
	public string name { get; set; }

	[Parameter]
	public int globalId { get; set; }

	public ComponentCard(int id)
	{
		this.globalId = id;
		this.name = ComponentDeclarations.components[id].name;
	}

	public ComponentCard(){}

	[Parameter]
	public EventCallback<MouseEventArgs> handleClick { get; set; }
}
