<div class="canvas-container" @onmousemove="dragMiddle">
	@foreach (var c in comps) {
		<VaryingComponent objId=@(c.Value.globalId) individualData=@c.Value DragStart="e=>dragStart(e, c)" DragEnd="dragEnd"></VaryingComponent>
	}
</div>

@code {
	[Parameter]
	public Dictionary<int, ComponentInstance> comps { get; set; }

	private bool dragging = false;
	private KeyValuePair<int, ComponentInstance> target;

	private void dragStart(MouseEventArgs e, KeyValuePair<int, ComponentInstance> target)
	{

		if (e.Button == 0)
		{
			dragging = true;
			this.target = target;
		}
	}

	private void dragMiddle(MouseEventArgs e)
	{
		if (dragging)
		{
			//this is correct. I have chosen Y as vertical, which is opposite of the event in my testing.
			target.Value.x += e.MovementY;
			target.Value.y += e.MovementX;
		}
	}

	private void dragEnd(MouseEventArgs e)
	{
		dragging = false;
	}
}
