.canvas-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

svg {
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
}

.wire {
    pointer-events: auto;
}

line {
    z-index: 50;
}

.segment, .node {
    transition: stroke-width 0.2s ease, filter 0.2s ease;
    pointer-events: stroke;
}

.segment:hover {

}

.segment.highlighted, .node.highlighted {
    z-index: 5;
    stroke-width: 4px !important;
    filter: drop-shadow(0px 0px 3px white);
}

.zoom-control{
    position:fixed;
    top:55px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    align-items:center;
    background:white;
    border:1px solid #d0d0d0;
    border-radius:8px;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    z-index:100;
}

.zoom-btn{
    width:36px;
    height:32px;
    border:none;
    background:transparent;
    cursor:pointer;
    font-size:20px;
}

.zoom-btn:hover{
    background:#eeeeee;
}

.zoom-perc{
    font-size:12px;
}

.reset-btn{
    width:44px;
    height:32px;
    border:none;
    background:transparent;
    cursor:pointer;
    font-size:12px;
}

.reset-btn:hover{
    background:#eeeeee;
}

.hover-outline{
    opacity: 0;
    fill: none;
    stroke: #8c8c8c;
    stroke-linejoin: round;
    stroke-linecap: butt;
    pointer-events: none;
}

.wire:hover .hover-outline{
    opacity: 1;
    stroke-dasharray: var(--dash-size) var(--dash-size);
}

.wire:hover .hover-outline-a {
    animation: marching-forward .8s linear infinite;
}

.wire:hover .hover-outline-b {
    animation: marching-backward .8s linear infinite;
}

.wire:hover .node-outline {
    animation: marching-forward .8s linear infinite;
}

@keyframes marching-forward {
    to {
        stroke-dashoffset: calc(-1 * var(--dash-offset));
    }
}

@keyframes marching-backward {
    to {
        stroke-dashoffset: var(--dash-offset);
    }
}