.cursor-blink {
    animation: cursor-blink;
}

@keyframes cursor-blink {
    from {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
