@inherits RazorComponent

@code {

    public static ElementPin[] pinInfo
    {
        get
        {
            return new ElementPin[]
            {
                new ElementPin(name: "scl", x: 43, y: 130, signals: new PinSignalInfo[] { }, number: 1),
                new ElementPin(name: "sda", x: 43, y: 130, signals: new PinSignalInfo[] { }, number: 2),
                new ElementPin(name: "Vcc", x: 53, y: 130, signals: new PinSignalInfo[] { }, number: 3),
                new ElementPin(name: "gnd", x: 63, y: 130, signals: new PinSignalInfo[] { }, number: 4),
            };
        }
    }
}

<svg
   width="105.13026"
   height="104.43815"
   viewBox="0 0 1051.3026 1044.3815"
   id="svg2"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <title
     id="title8316">SPI OLED Module</title>
  <defs
     id="defs4">
    <rect
       x="14.285714"
       y="211.42857"
       width="20"
       height="44.98"
       id="rect1" />
  </defs>
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title>SPI OLED Module</dc:title>
        <cc:license
           rdf:resource="http://creativecommons.org/publicdomain/zero/1.0/" />
        <dc:date>2016-12-22</dc:date>
        <dc:creator>
          <cc:Agent>
            <dc:title>Florian &quot;adlerweb&quot; Knodt</dc:title>
          </cc:Agent>
        </dc:creator>
        <dc:publisher>
          <cc:Agent>
            <dc:title>www.adlerweb.info</dc:title>
          </cc:Agent>
        </dc:publisher>
      </cc:Work>
      <cc:License
         rdf:about="http://creativecommons.org/publicdomain/zero/1.0/">
        <cc:permits
           rdf:resource="http://creativecommons.org/ns#Reproduction" />
        <cc:permits
           rdf:resource="http://creativecommons.org/ns#Distribution" />
        <cc:permits
           rdf:resource="http://creativecommons.org/ns#DerivativeWorks" />
      </cc:License>
    </rdf:RDF>
  </metadata>
  <g
     id="layer1"
     transform="translate(-1449.4117,386.20953)">
    <g
       id="g8207">
      <g
         id="g8318"
         transform="matrix(2.5073691,0,0,2.5073691,-44.265326,-1036.8837)">
        <g
           id="g8446"
           transform="translate(3.5260263e-6,0.56974874)">
          <path
             style="opacity:1;fill:#001477;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             d="M 595.71484,287.14258 V 703.57227 H 1015 V 287.14258 Z m 29.64258,12.14258 A 17.857143,17.857143 0 0 1 643.21484,317.14258 17.857143,17.857143 0 0 1 625.35742,335 17.857143,17.857143 0 0 1 607.5,317.14258 17.857143,17.857143 0 0 1 625.35742,299.28516 Z m 360,0 A 17.857143,17.857143 0 0 1 1003.2148,317.14258 17.857143,17.857143 0 0 1 985.35742,335 17.857143,17.857143 0 0 1 967.5,317.14258 17.857143,17.857143 0 0 1 985.35742,299.28516 Z m -360,358.57226 a 17.857143,17.857143 0 0 1 17.85742,17.85742 17.857143,17.857143 0 0 1 -17.85742,17.85743 A 17.857143,17.857143 0 0 1 607.5,675.71484 17.857143,17.857143 0 0 1 625.35742,657.85742 Z m 360,0 a 17.857143,17.857143 0 0 1 17.85738,17.85742 17.857143,17.857143 0 0 1 -17.85738,17.85743 A 17.857143,17.857143 0 0 1 967.5,675.71484 17.857143,17.857143 0 0 1 985.35742,657.85742 Z"
             id="rect8114"
             transform="translate(0,-27.63784)" />
          <circle
             r="13.571428"
             cy="285.02512"
             cx="825.1073"
             id="path8082-9"
             style="fill:#afafaf;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
          <circle
             style="fill:#afafaf;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             id="circle8084-4"
             cx="864.39301"
             cy="285.02512"
             r="13.571428" />
          <path
             id="path8108"
             d="m 661.14484,561.42802 35.35534,17.67767 17.67767,32.32488 v 12.62691 c 0,0 5.93034,5.87237 5.89286,9.55468 -0.0375,3.68231 -5.89286,9.13314 -5.89286,9.13314 v 33.28427 h 179.30208 v -31.26396 c 0,0 -5.07127,-5.69859 -5,-9.01059 0.0713,-3.31201 5,-8.16201 5,-8.16201 v -11.11167 l 11.11167,-36.87057 55.55839,-18.18275 z"
             style="fill:#3f3700;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
          <rect
             y="556.64789"
             x="605.71429"
             height="62.142857"
             width="400"
             id="rect8112"
             style="opacity:1;fill:#ffffff;fill-opacity:0.232493;fill-rule:nonzero;stroke:none;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
          <rect
             y="332.62845"
             x="604.57629"
             height="233.34525"
             width="401.53564"
             id="rect8106"
             style="opacity:1;fill:#030303;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
          <rect
             y="349.80106"
             x="625.78949"
             height="185.86807"
             width="362.13376"
             id="rect8104"
             style="opacity:1;fill:#080808;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
          <path
             style="opacity:1;fill:#737400;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             d="M 625,291.42773 A 25.714287,25.714287 0 0 0 599.28516,317.14258 25.714287,25.714287 0 0 0 625,342.85742 25.714287,25.714287 0 0 0 650.71484,317.14258 25.714287,25.714287 0 0 0 625,291.42773 Z m 0.35742,7.85743 A 17.857143,17.857143 0 0 1 643.21484,317.14258 17.857143,17.857143 0 0 1 625.35742,335 17.857143,17.857143 0 0 1 607.5,317.14258 17.857143,17.857143 0 0 1 625.35742,299.28516 Z"
             transform="translate(0,-27.63784)"
             id="circle8054" />
          <path
             style="opacity:1;fill:#737400;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             d="M 985,291.42773 A 25.714287,25.714287 0 0 0 959.28516,317.14258 25.714287,25.714287 0 0 0 985,342.85742 25.714287,25.714287 0 0 0 1010.7148,317.14258 25.714287,25.714287 0 0 0 985,291.42773 Z m 0.35742,7.85743 A 17.857143,17.857143 0 0 1 1003.2148,317.14258 17.857143,17.857143 0 0 1 985.35742,335 17.857143,17.857143 0 0 1 967.5,317.14258 17.857143,17.857143 0 0 1 985.35742,299.28516 Z"
             transform="translate(0,-27.63784)"
             id="circle8066" />
          <path
             style="opacity:1;fill:#737400;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             d="M 625,650 A 25.714287,25.714287 0 0 0 599.28516,675.71484 25.714287,25.714287 0 0 0 625,701.42773 25.714287,25.714287 0 0 0 650.71484,675.71484 25.714287,25.714287 0 0 0 625,650 Z m 0.35742,7.85742 a 17.857143,17.857143 0 0 1 17.85742,17.85742 17.857143,17.857143 0 0 1 -17.85742,17.85743 A 17.857143,17.857143 0 0 1 607.5,675.71484 17.857143,17.857143 0 0 1 625.35742,657.85742 Z"
             transform="translate(0,-27.63784)"
             id="circle8072" />
          <path
             style="opacity:1;fill:#737400;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             d="M 985,650 A 25.714287,25.714287 0 0 0 959.28516,675.71484 25.714287,25.714287 0 0 0 985,701.42773 25.714287,25.714287 0 0 0 1010.7148,675.71484 25.714287,25.714287 0 0 0 985,650 Z m 0.35742,7.85742 a 17.857143,17.857143 0 0 1 17.85738,17.85742 17.857143,17.857143 0 0 1 -17.85738,17.85743 A 17.857143,17.857143 0 0 1 967.5,675.71484 17.857143,17.857143 0 0 1 985.35742,657.85742 Z"
             transform="translate(0,-27.63784)"
             id="circle8078" />
          <circle
             r="13.571428"
             cy="285.02512"
             cx="746.39685"
             id="path8082"
             style="opacity:1;fill:#afafaf;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
          <circle
             style="opacity:1;fill:#afafaf;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             id="circle8084"
             cx="785.68256"
             cy="285.02512"
             r="13.571428" />
          <text
             transform="scale(0.86511476,1.155916)"
             id="text8096"
             y="276.89563"
             x="844.43231"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;line-height:0%;font-family:Verdana;-inkscape-font-specification:Verdana;letter-spacing:0.8px;word-spacing:0.01px;opacity:0.94;fill:#bfbfbf;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
             xml:space="preserve"><tspan
               style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:17.8615px;line-height:1.25;font-family:monospace;-inkscape-font-specification:'monospace Bold';letter-spacing:0.8px;word-spacing:0.01px;fill:#bfbfbf;fill-opacity:1"
               y="276.89563"
               x="844.43231"
               id="tspan8098">GND VCC SCL SDA</tspan></text>
          <path
             id="path8110"
             d="M 729.33014,674.95814 V 614.2685 h -36.87057 v -43.7491 h 224.75894 v 43.43656 H 881.3581 v 61.50726 z"
             style="fill:#181818;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
        </g>
        <text
           xml:space="preserve"
           transform="matrix(0.39882441,0,0,0.39882441,595.71486,259.50474)"
           id="text1"
           style="fill:#000000;writing-mode:lr-tb;text-orientation:auto;direction:ltr;white-space:pre;shape-inside:url(#rect1)" />
      </g>
    </g>
  </g>
</svg>