.comp-wrapper {
    padding: 25px;
    display: flex;
    position: absolute;
}

.a-border {
    background-image: linear-gradient(90deg, gray 50%, gray 50%), linear-gradient(90deg, gray 50%, gray 50%), linear-gradient(0deg, gray 50%, gray 50%), linear-gradient(0deg, gray 50%, gray 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
    background-position: left top, right bottom, left bottom, right top;
}

.b-border {
    background-image: linear-gradient(90deg, gray 50%, transparent 50%), linear-gradient(90deg, gray 50%, transparent 50%), linear-gradient(0deg, gray 50%, transparent 50%), linear-gradient(0deg, gray 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
    background-position: left top, right bottom, left bottom, right top;
    animation: border-dance 1s infinite linear;
}

@keyframes border-dance {
    0% {
        background-position: left top, right bottom, left bottom, right top;
    }

    100% {
        background-position: left 15px top, right 15px bottom, left bottom 15px, right top 15px;
    }
}

.settingsContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: lightgray;
    padding: 5px;
    max-height: 400px; /* Max height for scrollable container, adjusting later to fit around 3 settings */
    overflow-y: auto;
    border-radius: 1rem 1rem 1rem 1rem;
    font-size: 15px;
    object-fit: contain;
    display: inline-block;
    position: absolute;
    margin-top: 0;
}

.EnvironmentalSettingsClass {
    max-height: 350px; 
    width: 250px;
    flex-direction: column;
    translate: 600px 100px;
    padding-bottom: 5px;
    z-index: 1000000;
}

.settingsContainer h2{
    font-size: 19px;
    flex-direction: row;
    padding-top: 1px;
    overflow-y: scroll;
    text-align: left;
    padding-left: 15px;
    overflow-y: auto;
}

.valueSetting h2, .dropdownSetting h2 {
    font-size: 20px;
    text-align: center;
    padding-left: 0px; /* leave this since parent has difference padding-left */
}

.valueSetting {
    background-color: #badbf1;
    border-radius: 1rem 1rem 1rem 1rem;
    margin-bottom: 7px;
}

.settingGroup {
    background-color: #badbf1;
    border-radius: 1rem 1rem 1rem 1rem;
    margin-bottom: 7px;
}

.dropdownSetting {
    background-color: #badbf1;
    border-radius: 1rem 1rem 1rem 1rem;
    margin-bottom: 7px;
}

.min-max-values {
    padding-bottom: 2px;
}

.close-button {
    position: absolute;
    right: 0;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: transparent;
    border: transparent;
    font-size: 15px;
}

.comp-menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.right-click-container {
    z-index: 99999999999999999999;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 1rem 1rem 1rem 1rem;
    position: absolute;
    max-width: fit-content;
    justify-content: left;
    margin-left: 5px;
    margin-right: 5px;
    align-items: flex-start;
    min-width: fit-content;
    border-color: gray;
    border-style: solid;
    text-align: left;
}

.right-click-container button {
    background-color: transparent;
    border-color: transparent;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    color: black;
    text-align: left;
    min-width: fit-content;
    white-space: nowrap;
    display: flex;
    text-align-all: start;
}

.right-click-container button:not(:last-child) {
    border-bottom: 1px solid rgba(145, 145, 145, 0.3); }